#video
{
    width: 100%;
    height: 500px;
    border: none;
}
.school_MainDiv
{
    border: 1px solid red;
}
.school_MainDiv img
{
    width: 100%;
}
.school_MainDiv h5, .school_MainDiv p
{
    margin: 20px;
}
.link
{
    text-align: center;
}
h2
{
   background-color :yellow;
}